<aside class="box" id="dates">
    <h2 class="footnote">Important Dates</h2>
    <dl>
        <dt>
            XXX, 2018
        </dt>
        <dd>
            Extended Registration and position statements deadline
        </dd>
        <dt>
            XXX, 2018
        </dt>
        <dd>
            Acceptance notifications
        </dd>
        <dt>
            XXX, 2018
        </dt>
        <dd>
            Program announced
        </dd>
        <dt>
            XXX September, 2018
        </dt>
        <dd>
            Workshop
        </dd>
    </dl>
</aside>
<aside class="box" id="regs">
    <h2 class="footnote">Registrations and Position Statements</h2>
    <p>Fill out the <a class="todo" href="@@@">registration form</a> or submit a <a href="#position-statements">position statement</a>.</p>
</aside>
