<aside class="box" id="dates">
    <h2 class="footnote">Important Dates</h2>
    <dl>
        <dt>
            August 17, 2018
        </dt>
        <dd>
            Application and position statement deadline
        </dd>
        <dt>
            August 24, 2018
        </dt>
        <dd>
            Acceptance notifications
        </dd>
        <dt>
            August 31, 2018
        </dt>
        <dd>
            Program announced
        </dd>
        <dt>
            September 26-27, 2018
        </dt>
        <dd>
            Workshop
        </dd>
    </dl>
</aside>
<aside class="box" id="regs">
    <h2 class="footnote">Application and Position Statements</h2>
    <p>Fill out the <a href="https://www.w3.org/2002/09/wbs/1/permissions2018/">application form</a>.</p>
</aside>
