<header class="header">
    <p>
        <a href="https://www.w3.org/"><img alt="W3C" src="https://www.w3.org/Icons/w3c_home" height="48" width="72"></a>
    </p>
    <h1 id="top">W3C Workshop on Permissions and User Consent</h1>
    <p>
        September 18-19, 2018; San Diego, California
    </p>
    <nav class="menu" id="menu">
        <ul>
            <li>
                <a href="index.html">Home Page</a>
            </li>
            <li>
                <a href="report.html">Report</a>
            </li>
            <li>
                <a href="minutes.html">Minutes</a>
            </li>
            <li>
                <a href="papers.html">Position Statements</a>
            </li>
            <li>
                <a href="schedule.html">Workshop Agenda</a>
            </li>
            <li>
                <a href="cfp.html">Call for Participation</a>
            </li>
        </ul>
    </nav>
</header>
