<aside class="box box-host" id="host">
    <h2 class="footnote">Host</h2>
    <p class="image-paragraph-host todo">
        W3C gratefully acknowledges @@@@ for hosting this workshop.
    </p>
    <p class="image-paragraph todo">
        <a href="https://www.keio.ac.jp/en/about/" class="image-link"><img src="assets/logos/keio.png" alt="Keio University"></a>
    </p>
</aside>
<aside class="box" id="sponsor">
    <h2 class="footnote">Sponsors</h2>
    <section class="sponsors-section sponsors-section-platinum">
        <h3 id="platinum-sidebar">Platinum Sponsors</h3>
        <!-- <p class="image-paragraph">
            <a href="https://www.keio.ac.jp/en/about/" class="image-link"><img src="assets/logos/keio.png" alt="Keio University"></a>
        </p> -->

    </section>
    <section class="sponsors-section sponsors-section-silver">
        <h3 id="silver-sidebar">Silver Sponsors</h3>
        <!-- <p>
            <a href="http://khronos.org/">The Khronos Group</a>
        </p> -->
    </section>
    <p>
        <a href="sponsorship.html">Sponsorship package info.</a>
    </p>
</aside>
